p {
    color: red;
}

html {
    background-color: beige;
}  

body {
    width: 800px;
    margin: 0 auto;
    background-color: blanchedalmond;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px;
    color: black;
    text-shadow: 3px 3px 1px red;
}